<!doctype html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <body onload="load()">
    <%- include('partials/navbar.ejs') %>

    <div class="container-fluid">
      <div class="row">
        <%- include('partials/sideboard.ejs') %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Benutzer</h1>
            <div class="btn-toolbar mb-2 mb-md-0">

              <a type="button" class="btn btn-secondary" href="../users">Zurück</a>
            </div>
          </div>
         
          
            <h3><%-user.name%></h3><h5><%-user.chipID%></h5>
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-header">
                    <h5>Informationen</h5>
                  </div>
                  <div class="card-body">
                    <form>
                      <label for="name">Name:</label>
                      <input type="text" class="form-control" id="name" placeholder="Name" value="<%-user.name%>">
                      <label for="class">Klasse:</label>
                      <input type="text" class="form-control" id="class" placeholder="Klasse" value="<%-user.class%>">
                      <label for="company">Unternehmen:</label>
                      <input type="text" class="form-control" id="company" placeholder="Unternehmen" value="<%-user.company%>">
                      <label for="balance">Kontostand:</label>
                      <input type="text" class="form-control" id="balance" placeholder="Kontostand" value="<%-user.balance%> €" disabled>
                      <label for="role">Rolle:</label>
                      <input type="text" class="form-control" id="role" placeholder="Rolle" value="<%-user.role%>">
                      <input type="submit" class="btn btn-warning" style="margin-top:10px" value="Update" onclick="edituser();">
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                  <div class="card-header">
                    <h5>Konto</h5>
                  </div>
                  <div class="card-body">
                    <form>
                      <label for="balance">Kontostand:</label>
                      <input type="text" class="form-control" id="balance" placeholder="Kontostand" value="<%-user.balance%> €" disabled>
                      <label for="add">Geld hinzufügen:</label>
                      <input type="number" class="form-control" id="add" placeholder="Geld hinzufügen">
                      <label for="remove">Geld entfernen:</label>
                      <input type="number" class="form-control" id="remove" placeholder="Geld entfernen">
                      <input type="submit" class="btn btn-warning" style="margin-top:10px" value="Hinzufügen/Entfernen" onclick="editbalance();">
                      <% if(user.isLocked == false) {%>
                        <input type="submit" class="btn btn-danger" style="margin-top:10px" value="Konto sperren" onclick="lock();">
                      <% } else { %>
                        <input type="submit" class="btn btn-success" style="margin-top:10px" value="Konto entsperren" onclick="unlock();">
                      <% } %>
                    </form>
                  </div>
                </div>
              </div>
          
          <!--Toast-->
          <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 0">
            <div id="liveToast" class="toast" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto" id="toasttitle">SaS - Admin Dashboard</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                <p id="toastbody"></p>
                <div class="mt-2 pt-2 border-top" id="btndiv">  
                </div>
              </div>
            </div>
          </div>

        </main>
      </div>
    </div>

    <script>

    </script>

    <%- include('partials/bottom.ejs') %>
  </body>
</html>
