<!doctype html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <body onload="">
    <%- include('partials/navbar.ejs') %>

    <div class="container-fluid">
      <div class="row">
        <%- include('partials/sideboard.ejs') %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Benutzer</h1>
            <div class="btn-toolbar mb-2 mb-md-0">

              <a type="button" class="btn btn-secondary" href="../users">Zurück</a>
            </div>
          </div>
         
          
            <h3><%-user.name%></h3><h5><%-user.chipID%></h5>
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-header">
                    <h5>Informationen</h5>
                  </div>
                  <div class="card-body" >
                    <form method="post">
                      <label for="name">Name:</label>
                      <input type="text" class="form-control" id="name" placeholder="Name" value="<%-user.name%>">
                      <label for="class">Klasse:</label>
                      <input type="text" class="form-control" id="class" placeholder="Klasse" value="<%-user.class%>">
                      <label for="company">Unternehmen:</label>
                      <input type="text" class="form-control" id="company" placeholder="Unternehmen" value="<%-user.company%>">
                      <label for="balance">Kontostand:</label>
                      <input type="text" class="form-control" id="balance" placeholder="Kontostand" value="<%-user.balance%> €" disabled>
                      <label for="role">Rolle:</label>
                      <input type="text" class="form-control" id="role" placeholder="Rolle" value="<%-user.role%>">
                      <input type="button" class="btn btn-warning" style="margin-top:10px" value="Update" onclick="editUser();">
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card">
                  <div class="card-header">
                    <h5>Konto</h5>
                  </div>
                  <div class="card-body">
                    <form>
                      <label for="balance">Kontostand:</label>
                      <input type="text" class="form-control" id="balance" placeholder="Kontostand" value="<%-user.balance%> €" disabled>
                      <label for="add">Geld hinzufügen:</label>
                      <input type="number" class="form-control" id="add" placeholder="Geld hinzufügen">
                      <label for="remove">Geld entfernen:</label>
                      <input type="number" class="form-control" id="remove" placeholder="Geld entfernen">
                      <input type="submit" class="btn btn-warning" style="margin-top:10px" value="Hinzufügen/Entfernen" onclick="editbalance();">
                      <% if(user.isLocked == false) {%>
                        <input type="button" class="btn btn-danger" style="margin-top:10px" value="Konto sperren" onclick="lockUser();">
                      <% } else { %>
                        <input type="button" class="btn btn-success" style="margin-top:10px" value="Konto entsperren" onclick="unlockUser();">
                      <% } %>
                    </form>
                  </div>
                </div>
              </div>

              <div class="col-md-7">
                <div class="card">
                  <div class="card-header">
                    <h5>Buchungen</h5>
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th>Empfänger</th>
                          <th>Sender</th>
                          <th>Betrag</th>
                          <th>Code</th>
                          <th>ID</th>
                          <th>Status</th>
                          <th>Verwendungszweck</th>
                          <th>Zeitpunkt</th>
                        </tr>
                      </thead>
                      <tbody id="test">
                        <% for(var i = 0; i < transactions.length; i++) { %>
                          <tr>
                            <td><%-transactions[i].receiverName%></td>
                            <td><%-transactions[i].senderName%></td>
                            <td><%-transactions[i].amount%></td>
                            <td><%-transactions[i].code%></td>
                            <td><%-transactions[i].transactionID%></td>
                            <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom"><%-transactions[i].status%></td>
                            <td><%-transactions[i].purpose%></td>
                            <td><%-transactions[i].transactionTime%></td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                </div>

            </div>

          
          <!--Toast-->
          <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 0">
            <div id="submittoast" class="toast" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto" id="toasttitle">SaS - Admin Dashboard</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                <p id="toastbody"></p>
                <div class="mt-2 pt-2 border-top" id="btndiv">  
                </div>
              </div>
            </div>
          </div>

        </main>
      </div>
    </div>

    <script>
      const chipID = "<%-user.chipID%>";
      const name = "<%-user.name%>";

      function editUser() {
        var toastsubmitExample = document.getElementById('submittoast')
        var toasttitle = document.getElementById('toasttitle')
        var toastbody = document.getElementById('toastbody')
        var btndiv = document.getElementById('btndiv')
        toasttitle.innerHTML = "Benutzer verändern"
        toastbody.innerHTML = "Soll der Benutzer " + name + " wirklich verändert werden?"
        btndiv.innerHTML = '<button type="button" class="btn btn-success btn-sm" onclick="confirmeditUser()">Bestätigen</button>'

        var toast = new bootstrap.Toast(toastsubmitExample)

        toast.show()
      }

      function confirmeditUser() {
        var name = document.getElementById('name').value
        var classs = document.getElementById('class').value
        var company = document.getElementById('company').value
        var role = document.getElementById('role').value
        var xhttp = new XMLHttpRequest();
        
        xhttp.open("POST", "../../user/"+chipID+"/edit", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("&name=" + name + "&class=" + classs + "&company=" + company + "&role=" + role);
        xhttp.onload = function() {
          window.location.reload();
        }
      }

      function unlockUser(){
        var toastsubmitExample = document.getElementById('submittoast')
        var toasttitle = document.getElementById('toasttitle')
        var toastbody = document.getElementById('toastbody')
        var btndiv = document.getElementById('btndiv')
        toasttitle.innerHTML = "Benutzer entsperren"
        toastbody.innerHTML = "Soll der Benutzer " + name + " wirklich gentsperrt werden?"
        btndiv.innerHTML = '<button type="button" class="btn btn-success btn-sm" onclick="confirmunLockUser()">Entsperren</button>'

        var toast = new bootstrap.Toast(toastsubmitExample)

        toast.show()
      }
      function confirmunLockUser() {
        const xhttp = new XMLHttpRequest();
        xhttp.open("POST", "../../user/"+chipID+"/lock/false", true);
        xhttp.send();

        xhttp.onload = function() {
          //console.log(this.responseText)
          window.location.reload();
        }
      }

      function lockUser(){
        console.log(chipID, name)
        var toastsubmitExample = document.getElementById('submittoast')
        var toasttitle = document.getElementById('toasttitle')
        var toastbody = document.getElementById('toastbody')
        var btndiv = document.getElementById('btndiv')
        toasttitle.innerHTML = "Benutzer sperren"
        toastbody.innerHTML = "Soll der Benutzer " + name + " wirklich gesperrt werden?"
        btndiv.innerHTML = '<button type="button" class="btn btn-danger btn-sm" onclick="confirmLockUser()">Sperren</button>'

        var toast = new bootstrap.Toast(toastsubmitExample)

        toast.show()
      }
      function confirmLockUser() {
        const xhttp = new XMLHttpRequest();
        xhttp.open("POST", "../../user/"+chipID+"/lock/true", true);
        xhttp.send();

        xhttp.onload = function() {
          //console.log(this.responseText)
          window.location.reload();
        }
      }

    </script>

    <%- include('partials/bottom.ejs') %>
  </body>
</html>
